# IntelliJ IDEA
.idea/
*.iml

# Maven / Gradle
/target/
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Java
*.class

# Arquivos temporários
*.swp
*.bak
*.tmp

# Arquivos de build
build/
out/

# Configurações de ambiente
.env

# VS Code (caso use também)
.vscode/
